{% extends 'mplogin.html' %}
{% block title %}Ingresar{% endblock %}
{% block contenido %}
<div class="text-center">
     <h1 class="h4 text-gray-900 mb-4">Ingresar a mi reproductor de musica HA</h1>
</div>
<form class="user" method="post" action="." enctype="multipart/form-data" id="formlogin">
    {% csrf_token %}
    <div class="form-group">
        <input type="email" class="form-control form-control-user"
            id="usuario" name="usuario" aria-describedby="emailHelp"
            placeholder="Ingrese su direccion de correo...">
    </div>
    <div class="form-group">
        <input type="password" class="form-control form-control-user"
            id="password" name="password" placeholder="Password">
    </div>
    <div class="form-group">
      {% if mensaje %}
          <div class="alert alert-danger">
              <i class="fa fa-warning"></i>
                  {{ mensaje }}
          </div>
      {% endif %}
    </div>
    <a href="#" class="btn btn-primary btn-user btn-block" 
    onclick="document.getElementById('formlogin').submit();">
        Ingresar
    </a>
<!--          <button type="submit" class="btn btn-primary btn-block">
             Ingresar
         </button> -->
    <hr>
<!--     <a href="index.html" class="btn btn-google btn-user btn-block">
        <i class="fab fa-google fa-fw"></i> Login with Google
    </a>
    <a href="index.html" class="btn btn-facebook btn-user btn-block">
        <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
    </a> -->
</form>
<hr>
<div class="text-center">
    <a class="small" href="forgot-password.html">Recordar contraseña?</a>
</div>
<div class="text-center">
    <a class="small" href="register.html">Registrarse!</a>
</div>

{% endblock %}