{% extends 'masterpage.html' %}
{% load staticfiles %}
{% block title %}ALBUM{% endblock %}
{% block recursoscss %}
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href='{% static "css/fileInput/fileinput.min.css" %}'>
{% endblock %}
{% block contenido %}
	<h2> MUSICAHA - Album </h2>
	<div class="card shadow mb-4">
		<div class="card-header py-3">
        	<h6 class="m-0 font-weight-bold text-primary">Listado de Album</h6>
        </div>
        <div data-bind="html: mensaje"></div>
        <div class="card-body">
        	<div data-bind="visible:(listado()!=null && listado().length > 0)">
	        	<div class="table-responsive">
	        		<table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
	        			<thead>
	        				<tr>
	        					<th>id</th>
	        					<th>Nombre</th>
	        					<th>Artista</th>
	        					<th>Cover</th>
	        					<th>Opciones</th>
	        				</tr>
	        			</thead>
	        			<tbody data-bind="foreach:{data:listado, as:'item'}">
	                        <tr>
	                        	<td data-bind="text: item.id" style="color:black"></td>
	                        	<td data-bind="text: item.name"></td>
	                        	<td data-bind="text: item.artist.nickName"></td>
	                        	<td>
	                        		<img width="50px" height="50px" data-bind="attr:{src: item.cover}">
	                        	</td>
	                        	<td>
	                        		<div class="btn-group text-right">
       			                      <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">
       			                      	<i class="fas fa-ellipsis-h fa-2x"></i>
                      				  </a>
                      				  <ul class="dropdown-menu dropdown-menu-right" role="menu">
                      		            <li>
                          					<a href="#" data-bind="click: function(){ $root.ver_detalle(item.id) }">
                          						Ver Detalle...
                          					</a>
                        				</li>
                      				  </ul>

	                        		</div>
	                        	</td>
	                        </tr>
	        			</tbody>
	        		</table>
	        	</div>
	        	<div id="paginacion" >
                    <div data-bind="pagination: {
                                   currentPage: paginacion.pagina_actual,
                                   totalCount: paginacion.total,
                                   pageSize:paginacion.cantidad_por_paginas,
                                   maxPages: paginacion.maxPaginas,
                                   directions: paginacion.direcciones,
                                   boundary: paginacion.limite,
                                   text: paginacion.text }">

                    </div>
                </div>
        	</div>
        </div>
	</div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- new album Modal-->
    <div class="modal fade" id="newAlbumModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuevo Album</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                	<form action="." method="post" enctype="multipart/form-data">
                		{% csrf_token %}
                		<div class="form-group row">
	                        <div class="col-sm-6 mb-3 mb-sm-0">
	                            <input type="text" class="form-control form-control-user" id="txtNombre" placeholder="Nombre del album" data-bind="value: albumVO.name">
	                        </div>
                    	</div>
	                    <div class="form-group row">
	                        <div class="col-sm-6">
	                        	<select class="form-control" data-bind="options: listadoDeArtistas,
	                                           optionsText: 'nickName', 
	                                           optionsValue: 'id', 
	                                           optionsCaption: 'Seleccione el artista...',
	                                           value: albumVO.artist_id" />
	                        </div>	
	                    </div>
	                    <div class="form-group row">
	                    	<div class="col-sm-6">
	                    		<input type="file" class="note-image-input" id="cover" name="cover" data-bind="fileData:{value:albumVO.cover,allowedFileExtensions: ['png','jpg', 'jpeg'],elErrorContainer: '#errorBlock', removeLabel:''}"/>
	                    		<input type="hidden" data-bind="value:albumVO.cover">
	                    	</div>
	                    	
	                    </div>	                    
                		
                	</form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">cancelar</button>
                    <a class="btn btn-primary" href="#" data-bind="click: guardarAlbum">Guardar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block imports %}
	<script type="text/javascript" src='{% static "js/plugins/fileInput/fileinput.js" %}'></script>
	<script type="text/javascript" src='{% static "js/ViewModels/album/album.js" %}'></script>

	<script type="text/javascript" src='{% static "vendor/datatables/jquery.dataTables.min.js" %}'></script>
    <script type="text/javascript" src='{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}'></script>

	<script type="text/javascript">
		$(document).ready(function () {
			album.consultar(1);
		});
	</script>
{% endblock %}

